In [6]:
x = 3+2
print(x)

5

- [github repository link](https://github.com/j23-cs167/notebook-0-trevorlaslo)

## Colab Tutorial
Jan 3rd, 2023

Markdown basics:
- **bold text**
- *italicized*
- `typewriter text`
- [something linky](www.google.com)
  - new level of indent

> | a | b | c |
|---|---|---|
| 1 | 2 | 3 |
| 4 | 5 | 6 |

In [4]:
x = 8

In [7]:
x

5

In [11]:
# CS 167 Machine Learning
# Day 01 Part 2 exercises
# note that each of these segments should be run in a different cell 
# within an iPython Notebook

a=10
b=3.14
c = "machine learning"
d = 'hi'
e = 'x'
f = [1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [12]:
x = [1,2,3] 
y=x
x[0] = "abc" 
print(y) 
#before you run, what will the value of y[0] be?

['abc', 2, 3]

In [13]:
z = x[1]
x[1] = "what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)
#can you predict what will be output?

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [14]:
#####
import pandas

#####

import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [24]:
#####

#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [ ]:

print(data['price'])

In [26]:
print(data.loc[3, 'type'])

Thai

In [ ]:
print(data.loc[3])

In [27]:
print(data.loc[3, 'rain'])

No

In [ ]:
print(type(data))
print(type(data['est']))
print(type(data.loc[0]))
print(type(data.iloc[3,8]))

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/irisData.csv')
data1.head()

In [31]:
type(data1['sepal length'].loc[0])

numpy.float64

In [33]:
data.iloc[3:6, 4:8]

    pat price rain  res
3  Full     $   No   No
4  Full   $$$   No  Yes
5  Some    $$  Yes  Yes

In [ ]:
print(data['type']=='Thai')

In [40]:
print(data[ data['type'] == 'Thai'])

    alt bar  fri  hun   pat price rain  res  type    est target
1   Yes  No   No  Yes  Full     $   No   No  Thai  30-60     No
3   Yes  No  Yes  Yes  Full     $   No   No  Thai  10-30    Yes
7    No  No   No  Yes  Some    $$  Yes  Yes  Thai   0-10    Yes
10   No  No   No   No  None     $   No   No  Thai   0-10     No

In [41]:
print(data[data['type'] == 'Italian'])

   alt  bar  fri  hun   pat price rain  res     type    est target
5   No  Yes   No  Yes  Some    $$  Yes  Yes  Italian   0-10    Yes
9  Yes  Yes  Yes  Yes  Full   $$$   No  Yes  Italian  10-30     No